body {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;    margin: 0;
    padding: 0;
}

header {
    background-color: #A9A9A9;
    color: white;
    text-align: center;
    padding: 15px 0;
}

.container {
    padding: 20px;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #A9A9A9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.toggle-sidebar {
    display: none;
}
button:hover {
    background-color: #45a049;
}

.map-container {
    margin-top: 20px;
    width: 40%;
    height: 40%;
    text-align: center;
    position: relative;
    top: 50%;
    left: 30%;
}

iframe {
    width: 100%;
    height: 400px;
    border: 0;
}
.sidebar, .cart {
    position: fixed;
    height: 100%;
    top: 0;
    transition: all 0.3s ease;
    z-index: 1100;
}

.sidebar {
    width: 250px;
    background-color: #f1f1f1;
    left: -291px;
    padding: 20px;
}

.cart {
    width: 350px;
    background-color: #fff;
    right: -390px;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
}

.sidebar.open {
    left: 0;
}
.toggle-sidebar {
    cursor: pointer;
}
.cart.open {
    right: 0;
}

.overlay, .overlay-cart {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
}

.topbar {
    display: flex;
    justify-content: space-between;
    background-color: #383838;
    color: white;
    padding: 15px;
    align-items: center;
}

.topbar-nav {
    display: flex;
    gap: 20px;
    align-items: flex-end;
}

.topbar-nav a {
    color: white;
    text-decoration: none;
}

.header__icon {
    position: relative;
    cursor: pointer;
}
.sidebar-section h3 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.sidebar-section ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-section ul li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar-section ul li:hover {
    background-color: #ddd;
}

h2 {
    display: flex;
    justify-content: center;
}
footer {
    background-color: #305754;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 12px;
}
